.contact-div{
        width:90%;
        margin-left: auto;
        margin-right:auto;
}
.contact-divh2{
        font-family: Arial, sans-serif;
        text-align: center;
        color: #55198b;
        opacity: 90%;
        font-size: 3.5vw;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 1vw;
}
.contact-div>p{
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 1.5vw;
        color: #868e96;
}
.contact-social{
        display:flex;
        overflow: auto;
        flex-direction: row;
        width:23%;
        margin-left: auto;
        margin-right: auto;
        /* margin-left: auto;
        margin-right: auto; */
}
.contact-socialmedia{
        margin:.5vw;
}
@media only screen and (max-width: 1080px) {
        .contact-social{
        display: flex;
        overflow: auto;
        flex-direction: row;
        width: 28%;
        margin-left: auto;
        margin-right: auto;
        }
}
@media only screen and (max-width: 768px) {
        .contact-div>p{
                font-family: Arial, sans-serif;
                text-align: center;
                font-size:2.2vw;
                color: #868e96;
        }
        .contact-social{
        display: flex;
        overflow: auto;
        flex-direction: row;
        width: 22.5%;
        margin-left: auto;
        margin-right: auto;
        }
}